* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;
    display: flex;
    position: fixed;
}

.navbar-container {
    width: 23%;
    padding-left: 2em;
    font-size: 1.3rem;
    border-right: 1px solid rgba(235, 229, 229, 0.849);
    padding-right: 2em;

}

.logo {
    padding: .5em;
    color: #1d9bf0;
    font-size: 1rem;
    /* background-color: black; */
    border-radius: 50%;
    margin-top: 15px;
}

.logo>i {
    padding: 10px;
}

.logo>i:hover {
    background-color: rgb(240, 243, 245);
    border-radius: 50%;
    cursor: pointer;

}

.navbar_item {
    padding: .5em;
    display: flex;
    /* border: 5px solid red; */
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar_item:hover {
    background-color: rgb(241, 238, 238);
}

.navbar_item>div {

    width: 25%;
}

.home_div {
    font-weight: bold;
}

.twit {
    background-color: #1d9bf0;
    padding: 1em;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 15px;

}

.twit:hover {
    background-color: #418bbd;
    cursor: pointer;
}


.ac {
    display: flex;
    margin-top: 4em;
    cursor: pointer;
    border-radius: 50px;
}

.ac:hover {
    background-color: rgb(241, 238, 238);
}

.ac_profile {
    background-color: green;
    width: 20%;
    text-align: center;
    padding: .6em;
    border-radius: 50%;
    font-size: 1.1rem;
    color: white;
    margin-right: 15px;

}

.ac_profile-name>p {
    font-size: 1rem;
    padding-top: 5px;
}

.home {
    width: 44%;

}

.aside {
    width: 33%;
    border-left: 1px solid rgba(235, 229, 229, 0.849);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;

}

.left-margin {

    text-align: start;
    width: 100%;
}

.home-bar {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1em;
    border-bottom: 1px solid rgba(235, 229, 229, 0.849);
    font-weight: bold;

}

.home-bar>p:hover {
    cursor: pointer;
}

.star {
    color: #1d9bf0;
}

.home-main {
    border-bottom: 1px solid rgba(235, 229, 229, 0.849);
}

.post-input {
    display: flex;
    width: 100%;


}

.input-profile {
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: .3em;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    margin-right: 15px;
    /* margin-top: 10px; */
    margin-left: 20px;
    cursor: pointer;
}

.post-btn {
    border: 2px solid #cfd5d8;
    color: #1d9bf0;
    padding: .2em 1em;
    border-radius: 50px;
    font-size: .9rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: pointer;
    display: none;
}

.post-btn:hover {
    background-color: #eff3f5;
}

.post-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #010d14;
    border: none;
    margin-top: 20px;
    outline: none;
    font-weight: 400;
}

.post-reply {
    color: #1d9bf0;
    width: 200%;
    padding: 1em 0;
    font-size: .9rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(235, 229, 229, 0.849);
    display: none;
}

.home-icons {
    color: #1d9bf0;
    display: flex;
    justify-content: space-between;
    /* width: 84%; */
    margin-left: 85px;
    /* margin-top: 30px; */
    font-weight: bold;

}

#tweet-body {
    height: 69vh;
    overflow: hidden;
    overflow-y: scroll;
}


.home-icons_container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

    /* margin-top: 10px; */
}

.home-tweet {
    background-color: #1d9cf086;
    color: white;
    padding: .6em;
    border-radius: 20px;
    border: none;
}

.home-tweet:hover {
    background-color: #1d9bf0;

}

.show-moretweet {
    text-align: center;
    color: #1d9cf086;
    border-bottom: 1px solid rgba(235, 229, 229, 0.849);
    padding: 1em;

}

.show-moretweet:hover {
    background-color: rgba(236, 227, 227, 0.247);
}

.show-moretweet>p {
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.aside-input {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    position: relative;
    font-size: 1.4rem;
}

.aside-input>input {
    width: 100%;
    padding: .7em;
    font-size: 1rem;
    border: none;
    outline: none;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 25px;
    background-position: 5%;
    padding-left: 3em;
    background-color: #f7f9f9;
    border-radius: 50px;
}

.whats-happening {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f7f9f9;
    margin-top: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em .4em .6em 1em;
}

.trending {
    width: 80%;
    margin: 0 auto;
    background-color: #f7f9f9;
    font-size: .9rem;
    padding: 1em .4em .6em 1.3em;

}

.trending:hover {
    background-color: rgb(240, 236, 236);
}

.trending>p {
    padding: .2em;
}

.trending>p>span {
    color: #1d9bf0;
}

.trending_div {
    display: flex;
    justify-content: space-between;
    padding: .2em;
    color: #aeb7bb;
}

.hashtag {
    padding: .2em;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.whotofollow {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f7f9f9;
    margin-top: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em .4em .6em 1em;
}

.follow {
    background-color: black;
    color: white;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    font-weight: bold;
    padding-top: .2em;
}

html {
    scroll-behavior: smooth;
}

#tweet-body::-webkit-scrollbar {
    width: 10px;
}

.tweet-profile-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

.tweets {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(235, 238, 240);
}

.tweets:hover {
    background: rgb(235, 238, 240);
}

.tweet-profile-image {
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tweet-profile-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

.tweet {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.tweet-user-info {
    display: flex;
    justify-content: space-between;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tweet-image {
    margin-top: 10px;
}

.tweet-image img {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.tweet-three-dots-menu button {
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background: transparent;
    border: transparent;
    padding: 5px;
}

.tweet-three-dots-menu button:hover {
    background: rgb(235, 238, 240);
}

#tweet-edit {
    height: 20px;
    width: 50px;
    background: rgb(29, 161, 242);
    border-radius: 12px;
}

#tweet-delete {
    height: 20px;
    width: 50px;
    background: rgb(29, 161, 242);

}
footer{
   height: 20vh; 
   padding: 1em 0;
}
.footer-terms{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    color: rgb(156, 144, 144);
    font-size: .9rem;
    padding:  0;
    cursor: pointer;
}
.footer-terms>p:hover{
    text-decoration: underline;
}
.footer-acc{
    display: flex;
    justify-content: space-around;
    
    margin: 0 20px;
    color: rgb(156, 144, 144);
    font-size: .9rem;
    cursor: pointer;
    padding: .2em 0;
}
.footer-acc>p:hover{
    text-decoration: underline;
}
.footer-cr{
    color: rgb(156, 144, 144);
    font-size: .9rem;
    margin-left: 55px;
}
.navbar_media{
   border-bottom: 1px solid rgb(200,205, 205);
   border-top: 1px solid rgb(209, 205, 205);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: .2em;
    display: none;
}



@media (max-width:800px) {

    .left-margin {
        display: none;
    }

    .ac_profile {
        width: 100%;
    }

    .ac_profile-name {
        display: none;
    }

    .ac_profile {
        width: 35%;

        font-size: 1rem;
        margin-right: 15px;
    }

    .home {
        width: 77%;
    }

    .aside {
        display: none;
    }

    .navbar-container {
        padding-left: 0.5em;
    }

    .ac {
        margin-top: 4em;

    }
    

}

@media (max-width:500px) {
    .navbar-container {
        display: none;
    }

    .home {
        width: 100%;

    }

    .aside {
        display: none;
    }
    #tweet-body {
        height: 63vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .navbar_media{
        display: flex;
    }
    
}